/* ==============================
   CHECKOUT SPECIFIC COLORS
---------------------------------*/

$primary-color: #641cff;

$background-color: #f9f9fc;

$text-white-primary: #ffffff;
$text-grey-primary: #000000;
$text-grey-secondary: #4a4a4a;
$text-grey-hint: #9b9b9b;

$grey-darken-1: #333333;
$grey-darken-2: #666666;
$grey-darken-3: #999999;
$grey-lighten-1: #cccccc;
$grey-lighten-2: #e2e2e2;
$grey-lighten-3: #f5f5f5;

$dividerGrey: rgba(0, 0, 0, 0.30);
$dividerPurple: rgba(100, 28, 255, 0.19);

$red: #ff5b59;
$red-lighten1: #ffa6a0;
$red-lighten2: #fff0f0;

$green: #4bb444;
$green-lighten1: #7ed321;
$green-lighten2: #bceeb9;

$blue: #00b2ff;

$warn-color: #fc575e;
