/* ==============================
   Border Radius Properties
---------------------------------*/

$border_radius_rounded: 50px;
$border_radius_circle: 50%;

$global-border-radius: 2px;
$border_radius: 5px;

/* ==============================
   Font Size Properties
---------------------------------*/

$font_size: 14px;

/* ==============================
   Box Shadow Properties
---------------------------------*/

$box-shadow1: 0 2px 15px 0 rgba(155, 155, 155, 0.1);
$box-shadow2: 0 2px 14px 0 rgba(0, 0, 0, 0.07);

/* ==============================
   Spacers Properties
---------------------------------*/

$spacer4: 4px;
$spacer6: 6px;
$spacer8: 8px;
$spacer16: 16px;
$spacer24: 24px;
$spacer32: 32px;
$spacer40: 40px;
